body {
  --stats-font-size: 12px;
  --background-color: #02071e;
  margin: 0;
  background: var(--background-color);
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

canvas {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li.strikethrough {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.25);
}

.fullSizeContainer {
  display: none;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  grid-gap: 0.8rem;
  padding: 8vw;
  box-sizing: border-box;
  width: 100%;
}

.fullSizeContainer.instructions {
  justify-content: space-between;
  text-align: center;
  pointer-events: none;
}

@media screen and (min-width: 1280px) {
  .fullSizeContainer {
    padding: 0 25vw;
  }
  .fullSizeContainer.instructions {
    padding: 8vh 25vw;
  }
}

.fullSizeContainer.show {
  display: flex;
}

.fullSizeContainer h1 {
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.1;
  color: white;
  margin: 0 0 0.2em;
}

.fullSizeContainer h2 {
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  margin: 0 0 0.2em;
}

@media screen and (max-width: 640px) {
  .fullSizeContainer h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .fullSizeContainer h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
  }
}

.fullSizeContainer p {
  margin: 0;
}

.meterAndLabel {
  font-size: var(--stats-font-size);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: var(--stats-font-size);
}

.meter {
  position: relative;
  height: 18px;
  background: linear-gradient(90deg, rgb(0, 255, 0), rgb(255, 0, 0));
}

.cursor {
  position: absolute;
  top: 100%;
  display: flex;
  transform: translateX(-50%);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  left: 0;
}

.cursor::before {
  --cursor-size: 14px;
  content: "";
  width: var(--cursor-size);
  height: var(--cursor-size);
  background: white;
  top: -16px;
  left: calc(50% - 7px);
  position: absolute;
  border-radius: var(--cursor-size);
}

.statsTable {
  margin: 1rem 0 1.6rem;
  font-size: var(--stats-font-size);
  text-transform: uppercase;
  row-gap: 0.35em;
  column-gap: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tableRow {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tableRow::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 1px;
  top: 50%;
  width: 100%;
}

.tableLabel {
  background: var(--background-color);
  z-index: 1;
  padding-right: 8px;
}

.tableValue {
  background: var(--background-color);
  z-index: 1;
  padding-left: 8px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  grid-gap: 1rem;
}

.button {
  background: rgba(255, 255, 255, 0.22);
  text-align: center;
  color: white;
  flex: 1;
  padding: 1rem;
  max-width: 400px;
  min-width: 200px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.6s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: relative;
}

.button.loading {
  color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.08);
  cursor: default;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
}

@media (hover: hover) {
  .button:not(.loading):hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 14px #000;
    background: rgba(255, 255, 255, 0.3);
  }
}

@keyframes buttonAnimatedBorder {
  from {
    stroke-dashoffset: -20%;
    stroke-dasharray: 32% 128%;
    opacity: 0;
  }

  to {
    stroke-dashoffset: -40%;
    stroke-dasharray: 160% 0px;
    opacity: 1;
  }
}

.buttonAnimatedBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 4px;
  stroke: white;
  stroke-linecap: round;
  animation: 1.5s buttonAnimatedBorder ease;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  pointer-events: none;
}

.buttonBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 4px;
  stroke: white;
}
